environments:
  development:
    values:
      - namespace: realestate-development

  staging:
    values:
      - namespace: realestate-staging

---

repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami

helmDefaults:
  wait: false
  timeout: 1200
  createNamespace: true

releases:
  - name: postgres
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    chart: bitnami/postgresql
    values:
      - helm-postgre.yaml

  - name: inventoryservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/inventory-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: listingservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/listing-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: platformservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/platform-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: priceservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/price-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: searchservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/search-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: propertyservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/property-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: tenantservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/tenant-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}

  - name: userservice
    namespace: '{{ .Values | get "namespace" "realestate-development" }}'
    needs:
      - '{{ .Values | get "namespace" "realestate-development" }}/postgres'
    chart: ./microservice
    values:
      - Values/users-values.yaml
{{ if env "IMAGE_TAG" }}
    set:
      - name: appVersion
        value: {{ env "IMAGE_TAG" | quote }}
{{ end }}